
html {
  --base-color: #fff;
  --dark-color: #2a3443;
  --shade-color: #5e6673;
  --success-color: #f0f8f1;
  --warning-color: #fbeeec;
  --light-background: #F5F5F5;
  --lsg-blue: #15B4B0;
  --dark-grey: #787878;
  --color-leaks: #30a5a5;
  --color-drinks: #82afbd;
  --spacing: 16px;
  margin: 0;
  padding: 0;
}

h1 {
	color:var(--lsg-blue);
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 36px;
	font-weight:400;
	margin:0px 0px 0px 0px;
}

h2 {
	color:var(--lsg-blue);
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	text-transform: uppercase;
	font-weight:900;
	font-size: 30px;
	margin:10px 0
}.w3-wide{letter-spacing:4px}

h3 {
	color:var(--dark-grey);
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 20px;
	font-weight:400;
	margin:8px 0px 0px 0px;
	text-transform: uppercase;
}

h4 {
	color:var(--dark-grey);
	font-family: "Helvetica Neue";
	font-size: 16px;
	margin:0px 8px 0px;
	font-weight: 200;
}

.h-week-selection {
	color:var(--lsg-blue);
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 20px;
	font-weight:400;
	margin:10px;
	text-align: center;
}

.progress-bar{
	background-color: var(--lsg-blue);
	color: var(--base-color);
}

#userdata {
  margin-bottom: 10px;
  padding: 20px;
}

.card-dashboard {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: var(--base-color);
	border-radius: 15px;
	padding: 16px;
	margin-bottom: 16px;
	min-height: 85vh;
	flex: 1;
}

.card-dashboard-chat {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: var(--base-color);
	border-radius: 15px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	padding: 0px;
	margin-bottom: 16px;
	max-height: 85vh;
	min-height: 85vh;
	flex: 1;
	position: relative;
}

.card-dashboard-data {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: var(--base-color);
	border-radius: 15px;
	padding: 0px;
	margin-bottom: 16px;
	max-height: 85vh;
	min-height: 85vh;
}

.header-box-chat {
	background-image: linear-gradient(to right, #15B4B0 0%, #A0C7CD 100%);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 16px 32px 16px;
	margin-bottom: 16px;
}

.footer-box-chat {
	background-image: linear-gradient(to right, rgb(250, 249, 249) 0%, #FFFFFF 100%);
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	padding: 16px ;
	position: absolute;
	bottom:0;
	/* margin-bottom: 16px; */
}

.chat{
	max-height: 90vh;
}

.footer {
	background-color: var(--base-color);
	border: 1px solid var(--lsg-blue);
	border-radius: 8px;
	margin: 16px 16px 0px; 
	color: var(--lsg-blue);
}

.button-week-selection{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: var(--base-color);
	border-radius: 8px;
	border: 2px solid var(--lsg-blue);
	color: var(--lsg-blue);
	text-align: center;
	text-decoration: none;
	display: inline;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 16px;
	/* font-size: 1vw; */
	margin-bottom: 8px;
	margin-right: 0.5%;
	margin-left: 0.5%;
	cursor: pointer;
	transition-duration: 0.4s;
}

.button-week-selection:hover{
	background-color:var(--lsg-blue);
	color: white;
}

.button-submit{
	background-color: var(--base-color);
	border-radius: 8px;
	border: 2px solid var(--lsg-blue);
	color: var(--lsg-blue);
	text-align: center;
	text-decoration: none;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 16px;
	float:right;
	/* font-size: 1vw; */
	margin-bottom: 8px;
	cursor: pointer;
	transition-duration: 0.4s;
}

.button-submit:hover{
	background-color:var(--lsg-blue);
	color: white;
}

.form-inline {  
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  }
  
  .form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color:transparent;
	border: 1px solid #ddd;
  }

  .form-inline button {
	padding: 10px 20px;
	border: 1px solid #ddd;
	color: var(--lsg-blue) ;
	cursor: pointer;
	float: right;
  }


/*	w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}*/

body{
  background-color: #e6f6f8;
}


#bodyChatWindow {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 16px;
	height: 60vh;
	max-height: 60vh;
	overflow: scroll;
	position: relative;

  }
  .contentChatWindow {
	margin-top:16px;
	border-radius: 3px;
	width: 100vw;
	max-width: 400px;
	display: flex;
	flex-direction: column;
  }
  .messagesChatWindow {
	flex-grow: 1;
	padding: 0px 00px;
  }
  .messageChatWindow {
	display: flex;
	flex-direction: column;
  }
  .message--mineChatWindow {
	align-items: flex-end;
  }
  .message--theirsChatWindow {
	align-items: flex-start;
  }
  .message__nameChatWindow {
	padding: 5px 0px 0px 0px;
  }
  .message__bubbleChatWindow {
	padding: 10px 15px 10px 15px;
	border-radius: 3px;
  }
  .message--theirsChatWindow .message__bubbleChatWindow {
	background-image: linear-gradient(to right, #15B4B0 0%, #A0C7CD 100%);
	padding: 10px 15px 10px 15px;
	color: white;
	border-radius: 25px;
	margin-right: 32px;
  }
  .message--mineChatWindow .message__bubbleChatWindow {
	background-image: linear-gradient(to right, #E5E5E5 0%, #CCCCCC 100%);
	padding: 10px 15px 10px 15px;
	color: black;
	border-radius: 25px;
	margin-left: 32px;
	
  }
  .footerChatWindow {
	line-height: 40px;
	margin-left: 16px;
	display: flex;
	flex-shrink: 0;
  }

  .text-input-chat{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 16px;
	width: 15vw;
  }

  .text-input-box{
	background-image: linear-gradient(to right, #E5E5E5 0%, #FFFFFF 100%);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: inline;
  }

  .text-input{
	background: white;
	border:none;
	display: inline-block;

	/* border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px; */
	padding: 16px;
	width: 15vw;
  }

  #inputChatWindow {
	height: 76px;
	border: none;
	border-radius: 15px;
	flex-grow: 1;
	padding: 0 30px;
	font-size: 16px;
	background: transparent;
  }
  #buttonChatWindow {
	border: none;
	background: transparent;
	padding: 0 30px;
	font-size: 16px;
	cursor: pointer;
  }

  video {
	max-width: calc(50% - 100px);
	min-width:23vw;
	min-height:50px;
	margin: 0px;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 0;
	/* border: 1px solid grey; */
	/* box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px; */
  }

  /* The popup chat - hidden by default */
.video-chat-popup {
	display: none;
	position: absolute;
	background-color: white;
	/* bottom: 15vh; */
	z-index: 9;
	margin:8px;
  }

  .monospace {
	font-family: "Lucida Console", Courier, monospace;
  }


  .w3-row {
    display: flex;
}

.w3-container {
    flex:1;
}
.card-dashboard-chat{
	flex:1;
}